*{
    padding: 0px ;
    margin: 0px ;
    box-sizing: border-box;
}
.logoimage{
    width: 50px;
}
main{
    width: 100%;
    height: max-content;
    
    
    display: flex;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
    
}
.divofmain1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}
.divofmain2{
     min-height: 100%;
     display: flex;
     justify-content: space-around;
     align-items: center;
     width: 60%;
     
}
.divofmain2 a{
    text-decoration: none;
    font-size: 1.3em;
    color: black;
}
a:hover{
    color: #0071BD;
   border-bottom: 1px solid #0071BD;
   
}
.logoname{
    color: #0071BD;
}
header{
    width: 100%;
    height: 90%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(./images/mymainimae.png);
    background-size: cover;
    
    
    
}

.hederh1{
    width: 35%;
    text-align: center;
    margin-bottom: 25px;
    
    color: white;
}
.hederbtn{
    width: 50%;
    height: max-content;
    
    display: flex;
    justify-content: space-around;
    
}
.hederbtn a{
    text-decoration: none;
    color: white;
    border: 2px solid #0071BD;
    font-size: 1.5em;
    width: 300px;
    padding: 12px 0px;
    text-align: center;
    border-radius: 5px;
    transition: 1.5s;
    
    font-weight: bold;
    
    
}
.hederbtn a:hover{
    background-color:#0071BD ;
    color: white;
}
.resdiv{
    width: 100%;
    height: 80px;
    background-color:#0071BD ;
    margin-bottom: 30px;
}
.resdiv form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.resdiv form input{
    height: 40px;
    padding-left: 10px;
    border: 0px solid black;
    border-radius: 2px;
}
.resdiv form input button{
    height: 70px;

}
.resdiv form  a{
    width: 40px;
    height: 40px;
    background-image: url(./images/resimage.png);
    background-size: cover;
    border-radius: 2px;

}
.profileimg{
    width: 50px;
    height: 50px;
    border-radius: 50%;

}
#publierbtn{
    /* border: 0px ; */
    background-color:#0071BD ;
    color: white;
    padding: 5px 10px;
}
#ourprofilediv{
    width: 210px;
    background-color: white;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    font-size: 1.1em;
    font-weight: 200;
    right: 10px;
  
    padding: 10px 10px;
    display: none;
    transition: 1s;
    border-radius: 1px;


}
#ourprofilediv a{
    color: rgba(40, 39, 39, 0.801);
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
    font-weight: 500;
    

}
#ourprofilediv a:hover{
    color: black;
    border: 0px;

}
.Nores{
    color: rgba(198, 197, 197, 0.621);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3em;
}


